In [1]:
import pandas as pd

mpg = pd.read_csv('../sample-data/Doit_Python-main/Data/mpg.csv');
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [2]:
# 문제 1) mpg 데이터의 `category`는 자동차를 특지에 따라 `suv`, `compact` 등 일곱 종류로 분류한 변수입니다.
# 어떤 차종의 `cty(도시연비)` 가 높은지 비교해 보려고 합니다.
# `category`별 `cty(도시연비)` 평균을 구해보세요.

mpg\
    .groupby('category')\
    .agg(mean_cty = ('cty', 'mean'))

             mean_cty
category
2seater     15.400000
compact     20.127660
midsize     18.756098
minivan     15.818182
pickup      13.000000
subcompact  20.371429
suv         13.500000

In [15]:
# 문제 2) 앞 문제의 출력 결과는 `category` 값 알파벳순으로 정렬되어 있습니다.
# 어떤 차종의 도시 연비가 높은지 쉽게 알아볼 수 있도록 `cty(도시연비)` 평균이 높은 순으로 정렬해 출력하세요.
mpg\
    .groupby('category')\
    .agg(mean_cty = ('cty', 'mean'))\
    .sort_values('mean_cty', ascending = False)

             mean_cty
category
subcompact  20.371429
compact     20.127660
midsize     18.756098
minivan     15.818182
2seater     15.400000
suv         13.500000
pickup      13.000000

In [8]:
# 문제 3) 어떤 회사 자동차의 `hwy(고속도로 연비)`가 가장 높은지 알아보려고 합니다.
# `hwy(고속도로 연비)` 평균이 가장 높은 회사 세 곳을 출력하세요.

mpg\
    .groupby('manufacturer')\
    .agg(mean_hwy = ('hwy', 'mean'))\
    .sort_values('mean_hwy', ascending = False)\
    .head(3)

               mean_hwy
manufacturer
honda         32.555556
volkswagen    29.222222
hyundai       26.857143

In [22]:
# 문제 4) 어떤 회사에서 `compact` 차종을 가장 많이 생산하는지 알아보려고 합니다.
# 회사별 `compact` 차종 수를 내림차순으로 정렬해 출력하세요.

mpg\
    .query('category == "compact"')\
    .groupby('manufacturer')\
    .agg(total = ('manufacturer', 'count'))\
    .sort_values('total', ascending = False)

              total
manufacturer
audi             15
volkswagen       14
toyota           12
subaru            4
nissan            2

In [23]:
mpg\
    .query('category == "compact"')\
    .value_counts('manufacturer')

manufacturer
audi          15
volkswagen    14
toyota        12
subaru         4
nissan         2
Name: count, dtype: int64