In [1]:
import pandas as pd

In [11]:
# 데이터 프레임 생성하기
df = pd.DataFrame({
    'name': ['김지훈', '이유진', '박동현', '김민지'],
    'english': [90, 80, 60, 70],
    'math': [50, 60, 100, 20],
})

In [8]:
print(df)

  name  english  math
0  김지훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

In [9]:
print(df['english'])

0    90
1    80
2    60
3    70
Name: english, dtype: int64

In [10]:
# 'english' 합계 구하기
sum(df['english'])

300

In [12]:
# 'math' 합계 구하기
sum(df['math'])

230

In [14]:
# 'english' 평균 구하기
englishScores = df['english']
englishAvg = sum(englishScores) / len(englishScores)
print('english 평균: ', englishAvg)

english 평균:  75.0

In [15]:
# 'math' 평균 구하기
mathScores = df['math']
mathAvg = sum(mathScores) / len(mathScores)
print('math 평균: ', mathAvg)

math 평균:  57.5

In [18]:
# 데이터 프레임을 생성하고 각 column 의 편균 구하기
fruitDataFrame = pd.DataFrame({
    'product': ['사과', '딸기', '수박'],
    'price': [1800, 1500, 3000],
    'sold': [24, 38, 13],
})

priceAvg = sum(fruitDataFrame['price']) / len(fruitDataFrame['price'])
soldAvg = sum(fruitDataFrame['sold']) / len(fruitDataFrame['sold']);

print('priceAvg: ', priceAvg)
print('soldAvg: ', soldAvg)

priceAvg:  2100.0
soldAvg:  25.0