In [11]:
import pandas as pd

df = pd.DataFrame({
    'name': ['MacBook Pro 19', 'LG Gram 19',],
    'price': [300, 250],
    'sold': [1234, 2345],
})

df.info()
df.describe(include = 'all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    2 non-null      object
 1   price   2 non-null      int64
 2   sold    2 non-null      int64
dtypes: int64(2), object(1)
memory usage: 180.0+ bytes

                  name       price         sold
count                2    2.000000     2.000000
unique               2         NaN          NaN
top     MacBook Pro 19         NaN          NaN
freq                 1         NaN          NaN
mean               NaN  275.000000  1789.500000
std                NaN   35.355339   785.595634
min                NaN  250.000000  1234.000000
25%                NaN  262.500000  1511.750000
50%                NaN  275.000000  1789.500000
75%                NaN  287.500000  2067.250000
max                NaN  300.000000  2345.000000

In [9]:
# 변수, 인스턴스 type 확인하기
print(type(df))
print(type(df['name']))
print(type(df['name'][0]))
print(type(df['price'][0]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'str'>
<class 'numpy.int64'>